@import "../../routes/application/variables.scss";

.filter-button {
    padding: 10px 15px;
    background-color: #222;
    float: left;
    margin-right: 10px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-family: $font-secondary;
    font-weight: 500;
    margin-bottom: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s;

    @media only screen and (max-width: 1100px) {
        font-size: 12px;
        padding: 5px 10px;
    }

    &.full-width {
        width: calc(100%);
    }

    &.inactive {
        color: $gray-2;
    }

    &.active {
        border-color: white;
    }

    &.filters-filter-button {

        >.dropdown-desktop-label {
            @media only screen and (max-width: 1100px) {
                display: none;
            }
        }

        >.dropdown-mobile-label {
            @media only screen and (min-width: 1100px) {
                display: none;
            }
        }

        >.filters-filter-button-icon {
            margin-left: 10px;
            position: relative;
            top: 7px;
            float: right;

            @media only screen and (max-width: 1100px) {
                display: none;
            }
        }
    }

    &.filters-advanced-search-button {
        @media only screen and (max-width: 1100px) {
            border-color: white;
            color: white;
            float: right;
        }

        >.desktop-label {
            @media only screen and (max-width: 1100px) {
                display: none;
            }
        }

        >.mobile-label {
            @media only screen and (min-width: 1100px) {
                display: none;
            }
        }
    }
}

// .dropdown-contents-wrapper {
//     z-index: 100;
//     position: absolute;
//     margin-left: 0;
//     margin-top: 0;
//     display: contents;
// }

.dropdown-contents-close-button {
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
    // margin-left: 395px;
    margin-top: 5px;
    background-color: $gray-dark;
    display: inline-block;
    cursor: pointer;

    @media only screen and (max-width: 1100px) {
        display: flow-root;
        // margin-left: 310px;
        margin-top: 5px;
    }

    >.dropdown-contents-close-button-icon {
        width: 15px;
        height: 15px;
    }
}

.dropdown-gauze {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
}