@import "../application/variables.scss";

.profile-heading {
    width: 100%;
    display: table;

    >.profile-photo-wrapper {
        width: 75px;
        height: 75px;
        float: left;

        @media only screen and (max-width: 1100px) {
            width: 50px;
        }

        >.profile-photo {
            width: 100%;
            border-radius: 5px;
        }
    }

    >.profile-heading-user-info {
        float: left;
        margin-left: 20px;
        padding-top: 10px;
        width: 200px;

        >.profile-heading-username {
            width: 100%;
            color: white;
            font-size: 18px;

            >.profile-heading-username-verified {
                width: 12px;
                height: 12px;
                position: relative;
                top: 1px;
            }
        }

        >.profile-heading-online {
            color: white;
            font-size: 10px;
            padding-top: 5px;
            font-family: $font-secondary;
            width: 100%;

            >.profile-heading-online-icon {
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-right: 5px;
                border-radius: 100%;
                background: #00cf83;
                box-shadow: 0px 0px 5px 2px rgba(0, 207, 131, 0.26);
            }
        }
    }

    >.profile-heading-buttons {
        float: right;

        @media only screen and (max-width: 1100px) {
            width: calc(100% + 5px);
            margin: auto;
            clear: both;
            display: table;
            height: 20px;
        }

        >.profile-heading-button {
            display: inline;
            padding: 10px 30px;
            margin-left: 10px;
            border-radius: 6px;
            color: white;
            font-family: $font-primary;
            cursor: pointer;

            @media only screen and (max-width: 1100px) {
                font-size: 12px;
                padding: 5px 15px;
                width: calc(50% - 37.5px);
                text-align: center;
                display: block;
                margin-left: 5px;
                float: left;
                border-radius: 3px;
            }

            &.reputation {
                border: 1px solid $gray-1;

                >.profile-heading-button-icon {
                    margin-right: 3px;
                }
            }

            &.message {
                background: $verified-gradient;
            }
        }
    }
}

.profile-subheading {
    color: $gray-3;
    font-size: 12px;
    width: 100%;
    clear: both;
}

.profile-tab-row {
    width: 100%;
    clear: both;
    height: 20px;
    padding: 30px 0 10px 0;
    display: table;
    border-bottom: 1px solid $gray-0;

    @media only screen and (max-width: 1100px) {
        padding-top: 15px;
    }

    >.profile-tab {
        float: left;
        margin-right: 70px;
        font-size: 12px;
        font-family: $font-primary;
        color: $gray-2;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.2s;

        @media only screen and (max-width: 1100px) {
            margin-right: 13px;
            font-size: 11px;
        }

        &:hover {
            color: $gray-3;
        }

        &.active {
            color: white;
        }
    }
}

.profile-body {
    width: 100%;
    max-width: 620px;
    clear: both;
    display: block;
    transition: all 0.3s;

    >.profile-info-row {
        width: 100%;
        padding: 20px 0;
        padding-bottom: 30px;
        clear: both;
        display: flex;

        >.profile-info-element {
            flex: 1;

            &.wide {
                @media only screen and (max-width: 1100px) {
                    width: calc(100% + 10px);
                }
            }

            >.profile-info-element-body {
                color: white;
                font-size: 14px;
                padding-top: 5px;

                @media only screen and (max-width: 1100px) {
                    font-size: 12px;
                }

                &.verified {
                    color: linear-gradient(245.99deg,
                            #8855ff 0%,
                            rgba(77, 0, 255, 0) 64.83%),
                        linear-gradient(270deg, rgba(45, 136, 255, 0) 0%, #2d88ff 145.81%),
                        #8855ff;
                }

                >.profile-info-element-body-stars {
                    padding-top: 2px;
                }
            }
        }
    }

    >.about-tab-bio-content {
        color: white;
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 25px;
    }

    >.about-tab-callout-box-row {
        padding-top: 20px;

        @media only screen and (max-width: 1100px) {
            width: calc(100% + 10px);
        }

        >.about-tab-callout-box {
            width: 174px;
            padding: 20px;
            background-color: $gray-dark;
            border-radius: 8px;
            display: table;
            float: left;
            margin-right: 10px;

            @media only screen and (max-width: 1100px) {
                width: calc(50% - 27.5px);
                margin-right: 5px;
                padding: 10px;
            }

            >.about-tab-callout-box-heading {
                font-size: 12px;
                padding-bottom: 10px;
                color: white;
                font-family: $font-secondary;
                font-weight: bold;
            }

            >.about-tab-callout-box-rating-row {
                width: 100%;

                >.about-tab-callout-box-rating-number {
                    float: left;

                    &.vouches {
                        color: $vouches;
                    }

                    &.reputation {
                        color: $reputation;
                    }
                }

                >.about-tab-callout-box-rating {
                    float: left;
                }

                >.about-tab-callout-box-rating-count {
                    float: left;
                    font-size: 10px;
                    color: $gray-3;
                    margin-left: 5px;
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
}

.rating-star {
    margin-left: 4px;
}