.rating-star {
    margin-left: 4px;
    position: relative;
    float: left;
    width: 12px;

    @media only screen and (max-width: 1100px) {
        position: relative;
        top: 1px;
    }

    &.medium {
        width: 16px;

        @media only screen and (max-width: 1100px) {
            width: 1px;
        }
    }
}