@import "../../routes/application/variables.scss";
@import "../../components/filters/filters.scss";

.advanced-search-wrapper {
    width: 100%;
    background-color: $gray-dark;
    display: table;
    border-radius: 16px;
    transition: all 0.3s;
    z-index: 10;

    @media only screen and (max-width: 1100px) {
        border-top: 60px solid $gray-dark-lighter;
        position: fixed;
        border-radius: 0;
        top: 60px;
        left: 0;
    }

    >.advanced-search-heading {
        width: 100%;
        padding: 10px 0;

        >.advanced-search-heading-text {
            font-size: 14px;
            color: $gray-2;
            font-family: $font-primary;
            margin-left: 10px;
            float: left;
            font-weight: 600;
        }

        >.advanced-search-heading-close {
            float: right;
            width: 15px;
            margin-right: 10px;
        }

        @media only screen and (min-width: 1100px) {
            display: none;
        }
    }

    >.advanced-search-search-wrapper {
        padding: 20px;
        width: calc(100% - 40px);
        display: table;
        border-bottom: 1px solid $gray-dark-lighter;

        @media only screen and (max-width: 1100px) {
            padding: 20px 10px;
            width: calc(100% - 18px);
        }

        >.advanced-search-search-icon-wrapper {
            float: left;
            width: 20px;

            >.advanced-search-search-icon {
                width: 100%;
            }
        }

        >.advanced-search-search {
            float: left;
            width: 150px;
            background-color: $gray-dark;
            outline: none;
            border: none;
            text-align: right;
            font-family: $font-primary;
            font-weight: 600;
            padding-top: 4px;

            @media only screen and (max-width: 1100px) {
                width: calc(100% - 24px);
            }

            &::placeholder {
                color: white;
                padding-top: 7px;
            }
        }
    }

    >.advanced-search-body {
        padding: 20px 20px;
        width: calc(100% - 40px);
        padding-top: 10px;

        @media only screen and (max-width: 1100px) {
            padding-bottom: 450px;
        }


        >.advanced-search-subheading {
            font-size: 9px;
            font-weight: 600;
            color: $gray-2;
            font-family: $font-primary;
            width: 100%;
            padding: 10px 0;

            @media only screen and (max-width: 1100px) {
                padding-top: 20px;
            }
        }

        >.advanced-search-dropdown-wrapper {
            width: calc(100% - 30px);

            @media only screen and (max-width: 1100px) {
                width: calc(100% - 20px);
            }
        }

        >.advanced-search-price-point-row {
            font-family: $font-secondary;
            width: 100%;
            clear: both;
            height: 40px;

            >.advanced-search-price-point-checkbox {
                width: 15px;
                height: 15px;
                float: left;
                border: 1px solid $gray-dark-lighter;
                border-radius: 3px;
                text-align: center;
                cursor: pointer;

                &.active {
                    border-color: $brand-purple;
                    background-color: $brand-purple;
                }

                >.advanced-search-checkbox-check {
                    width: 14px;
                    height: 14px;
                    position: relative;
                    bottom: 1px;
                }
            }

            >.advanced-search-price-point-price {
                font-weight: 600;
                font-size: 15px;
                margin-left: 10px;
                float: left;
                color: white;
                position: relative;
                top: -2px;
                letter-spacing: 10px;
            }

            >.advanced-search-price-point-label {
                float: right;
                font-size: 10px;
                color: $gray-3;
            }
        }

        >.advanced-search-execute-search-button {
            width: calc(100% - 30px);
            clear: both;
            border-radius: 8px;
            text-align: center;
            color: white;
            font-family: $font-primary;
            font-size: 13px;
            margin-top: 20px;
            display: inline-block;
            padding: 10px 15px;
            background: $verified-gradient;
            cursor: pointer;

            @media only screen and (max-width: 1100px) {
                position: fixed;
                bottom: 50px;
                left: 10px;
                width: calc(100% - 50px);

            }
        }
    }
}