@import "../../routes/application/variables.scss";

.social-dropdown-wrapper {
    padding: 15px 5px;
    position: absolute;
    margin-top: 45px;
    background-color: $gray-black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 100;
    // margin-left: 215px;
    transition: all 0.3s;
    display: initial;

    @media only screen and (max-width: 1100px) {
        display: block;
    }

    >.social-dropdown-element {
        float: left;
        padding: 5px;
        border-radius: 8px;
        margin: 0 10px;
        cursor: pointer;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.0);
        transition: all 0.2s;

        &:hover {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
        }

        @media only screen and (max-width: 1100px) {
            margin: 0 5px;
            padding: 3px;
        }

        &.active {
            background-color: $gray-dark;
        }

        >.social-dropdown-element-icon {
            height: 35px;
            width: 35px;
        }
    }
}