@import "../../routes/application/variables.scss";

.listing-main-wrapper {
    width: calc(100% - 40px);
    margin: auto;
    max-width: 920px;

    >.listing-back-to-listing-wrapper {
        width: 100%;
        clear: both;
        display: table;
        padding: 20px 0;
        text-decoration: none;
        color: $gray-4;
        font-family: 14px;

        @media only screen and (min-width: 1100px) {
            display: none;
        }

        >.listing-back-to-listing-icon {
            width: 15px;
            height: 15px;
            display: table;
            padding-right: 10px;
            float: left;
            position: relative;
            top: 4px;
        }

    }

    >.listing-body-column {
        float: left;
        width: 690px;

        @media only screen and (max-width: 1100px) {
            width: 100%;
            clear: both;
            float: auto;
            margin-bottom: 10px;
        }
    }

    >.listing-author-column {
        float: left;
        margin-left: 10px;
        width: 216px;

        @media only screen and (max-width: 1100px) {
            width: 100%;
            clear: both;
            float: auto;
            margin-left: 0;
        }
    }

    >div>.listing-listing-card-wrapper {
        width: calc(100% - 80px);
        padding: 40px;
        border-radius: 16px;
        background-color: $gray-dark;

        @media only screen and (max-width: 1100px) {
            width: calc(100% - 40px);
            padding: 20px;
        }

        &.author {
            padding: 20px;
            width: calc(100% - 40px);
        }

        >.listing-listing-row {
            width: 100%;
            display: table;
            clear: both;

            >.listing-listing-card {
                &-heading {
                    font-size: 18px;
                    font-family: $font-primary;
                    font-weight: 600;
                    color: white;
                    float: left;
                }

                &-social {
                    color: $gray-2;
                    font-weight: 600;
                    font-family: $font-secondary;
                    font-size: 12px;
                    position: relative;
                    top: 6px;
                    margin-left: 20px;
                    float: left;

                    @media only screen and (max-width: 1100px) {
                        display: none;
                    }
                }

                &-social-icon-wrapper {
                    float: right;
                    width: 40px;
                    height: 40px;

                    >.listing-listing-card-social-icon-wrapper {
                        width: 100%;
                    }
                }
            }

            >.listing-listing-price-box {
                padding: 30px 30px;
                margin: 20px 0;
                margin-bottom: 30px;
                border: 1px solid $gray-2;
                border-radius: 5px;
                display: table;

                @media only screen and (max-width: 1100px) {
                    padding: 10px 40px;
                }

                >.listing-listing-price-box {
                    &-price {
                        font-size: 24px;
                        font-family: $font-secondary;
                        color: white;
                    }

                    &-price-label {
                        text-align: center;
                        font-size: 10px;
                        font-weight: 600;
                        padding-top: 5px;
                        color: $reputation;
                        font-family: $font-primary;
                    }
                }
            }



            >.listing-listing-description {
                color: $gray-4;
                font-size: 14px;
                line-height: 22px;
                font-family: $font-secondary;
            }

            >.listing-listing-purchase-button {
                margin-top: 40px;
                background: $verified-gradient;
                color: white;
                font-family: $font-primary;
                font-weight: 600;
                font-size: 14px;
                display: table;
                padding: 10px 20px;
                border-radius: 5px;
                box-shadow: 0px 0px 32px 5px rgba(91, 91, 255, 0.25);

                @media only screen and (max-width: 1100px) {
                    display: none;
                }
            }
        }

        >.listing-author-top-info-wrapper {
            display: table;
            width: 100%;
            padding-bottom: 20px;

            >.listing-author-top-info-image-wrapper {
                float: left;
                width: 50px;

                @media only screen and (max-width: 1100px) {
                    width: 40px;
                }

                >.listing-author-top-info-image {
                    width: 50px;
                    height: 50px;
                    border-radius: 8px;

                    @media only screen and (max-width: 1100px) {
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            >.listing-author-top-info-right {
                float: left;
                margin-left: 15px;
                width: calc(100% - 65px);

                >.listing-author-top-info-message-button-wrapper {
                    width: 100%;
                    clear: both;

                    >.listing-author-top-info-message-button {
                        border: 1px solid white;
                        border-radius: 4px;
                        color: white;
                        font-size: 12px;
                        font-family: $font-primary;
                        text-align: center;
                        padding: 3px 15px;
                        display: table;

                        @media only screen and (max-width: 1100px) {
                            display: none;
                        }
                    }
                }

                >.listing-author-top-info-online-status-wrapper {
                    width: 100%;
                    clear: both;

                    >.listing-author-top-info-online-status {
                        color: white;
                        font-size: 10px;
                        font-family: $font-secondary;
                        padding-top: 5px;

                        @media only screen and (max-width: 1100px) {
                            padding-top: 15px;
                        }

                        >.listing-author-top-info-online-icon {
                            width: 8px;
                            height: 8px;
                            float: left;
                            margin-right: 6px;
                            position: relative;
                            top: 2px;
                            background: #00CF83;
                            box-shadow: 0px 0px 5px 2px rgba(0, 207, 131, 0.26);
                            border-radius: 100%;
                        }
                    }
                }
            }
        }

        .listing-listing-profile-info-wrapper {

            @media only screen and (max-width: 1100px) {
                display: none;
            }

            >.listing-listing-author-name {
                color: white;
                font-size: 14px;
                font-weight: 600;
                font-family: $font-primary;
            }

            >.listing-listing-join-date {
                color: white;
                font-size: 14px;
                font-family: $font-primary;
            }
        }

        .listing-listing-profile-info-wrapper-compact {
            @media only screen and (min-width: 1100px) {
                display: none;
            }
        }

    }

    >.action-buttons-row {
        display: table;
        clear: both;
        margin-top: 10px;
        width: calc(100% + 10px);
        margin-left: -5px;
        padding: 10px 0;

        @media only screen and (min-width: 1100px) {
            display: none;
        }

        >.action-button-message {
            width: calc(50% - 12px);
            margin: 0 5px;
            float: left;
            border: 1px solid white;
            border-radius: 4px;
            color: white;
            text-align: center;
            padding: 9px 0;
            background-color: $gray-0;
            display: table;
            font-size: 14px;
            font-weight: 600;
            font-family: $font-primary;
        }

        >.action-button-purchase {
            width: calc(50% - 12px);
            font-size: 14px;
            font-weight: 600;
            font-family: $font-primary;
            padding: 10px 0;
            border-radius: 4px;
            text-align: center;
            color: white;
            background: $verified-gradient;
            margin: 0 5px;
            float: left;
        }
    }
}

.listing-listing-tags-wrapper {
    padding: 10px;

    &.top {
        padding: 0;
        padding-top: 10px;

        @media only screen and (min-width: 1100px) {
            display: none;
        }
    }

    &.bottom {
        @media only screen and (max-width: 1100px) {
            display: none;
        }
    }

    >.listing-listing-tags {
        color: $gray-4;
        font-size: 12px;
        font-family: $font-secondary;

        >.tag-special {
            color: $brand-red;
        }
    }
}

.listing-listing-subheading {
    width: 100%;
    clear: both;
    line-height: 12px;
    font-size: 10px;
    color: $gray-2;
    font-family: $font-primary;
    font-weight: 600;
    padding-bottom: 5px;
}

.listing-listing-label {
    width: 100%;
    clear: both;
    line-height: 12px;
    font-size: 12px;
    color: $gray-2;
    font-family: $font-secondary;
    padding-bottom: 5px;
    margin-bottom: 10px;
}