@import "../../routes/application/variables.scss";


.rating-stars-wrapper {
    display: table;
    float: left;

    >.rating-stars-score {
        font-weight: bold;
        color: $vouches;
        float: left;
        font-family: $font-secondary;
        font-size: 18px;

        // @media only screen and (max-width: 1100px) {
        //     font-size: 14px;
        // }
    }

    >.rating-stars {
        display: table;
        float: left;
        padding-top: 3px;

        @media only screen and (max-width: 1100px) {
            padding-top: 4px;
        }
    }
}