@import "../../routes/application/variables.scss";

.for-sale-post-wrapper {
    width: 100%;
    max-width: 690px;
    border-radius: 16px;
    height: 20px;
    margin-bottom: 20px;
    padding: 30px;
    display: table;
    background-color: #111111;
    text-decoration: none;

    @media only screen and (max-width: 1100px) {
        width: calc(100% - 30px);
        padding: 15px;
    }

    >.for-sale-post-heading-wrapper {
        width: 100%;
        height: 40px;
        padding-top: 0px;

        >.for-sale-post-username {
            color: white;
            font-size: 20px;
            font-family: $font-primary;
            float: left;

            @media only screen and (max-width: 1100px) {
                width: calc(100% - 95px);
            }
        }

        >.for-sale-post-cost {
            padding-left: 20px;
            font-family: $font-primary;
            float: left;
            color: $gray-2;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            top: 6px;

            @media only screen and (max-width: 1100px) {
                text-align: right;
                display: table;
                width: 30px;
                position: relative;
                top: 5px;
            }
        }

        >.for-sale-post-profile-picture-wrapper {
            width: 30px;
            height: 30px;
            float: right;
            position: relative;
            top: 0px;

            >.for-sale-post-profile-picture {
                width: 100%;
                border-radius: 5px;
            }
        }
    }

    >.for-sale-post-message {
        width: 100%;
        font-family: $font-secondary;
        color: $gray-2;
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 600;
    }
}