@import "./fonts.scss";
@import "./variables.scss";

.main-content {
    position: absolute;
    width: calc(100% - 118px);
    padding-left: 118px;
    z-index: 1;
    background-color: #181818;
    height: 100%;

    @media only screen and (max-width: 1100px) {
        width: 100%;
        padding-left: 0;
        display: table;
    }

    >.page-contents {
        padding: 10px 125px;

        @media only screen and (max-width: 1100px) {
            padding: 10px;
        }
    }
}

body {
    font-family: $font-primary;
}

.tag-wrapper {
    width: 100%;
    padding-top: 20px;
    clear: both;
    height: 30px;

    >.tag {
        float: left;
        margin-right: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 15px;
        border-radius: 8px;
        border: 1px solid transparent;

        &.inactive {
            border-color: $gray-2;
            color: $gray-2;
        }

        &.social {

            &.twitter {
                background-color: $twitter-blue;
            }

            &.facebook {
                background-color: $facebook-blue;
            }
        }

        &.verified {
            background: $verified-gradient;

            >.verified-icon {
                margin-right: 5px;
            }
        }

    }
}