@font-face {
    font-family: 'HK Guise';
    src: url('/assets/fonts/HKGuise-Regular.woff');
}

@font-face {
    font-family: 'HK Guise';
    src: url('/assets/fonts/HKGuise-Bold.woff');
    font-weight: 600;
}

@font-face {
    font-family: 'HK Guise';
    src: url('/assets/fonts/HKGuise-Regular.woff');
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');