$brand-purple: #8855FF;
$brand-red: #EB5757;
$brand-green: #00CF83;

// COLORS //

$twitter-blue: #1DA1F2;
$facebook-blue: #2D88FF;

$verified-gradient: linear-gradient(245.99deg, #8855FF 0%, rgba(77, 0, 255, 0) 64.83%),
linear-gradient(270deg, rgba(45, 136, 255, 0) 0%, #2D88FF 145.81%),
#8855FF;

$color-alert: #EB5757;
$color-4: #BDBDBD;

$gray-black: #0B0B0B;
$gray-dark: #111111;
$gray-dark-lighter: #222;

$vouches: #FFCC01;
$reputation:#00CF83;

// GRAYS
$gray-0: #272727;
$gray-1: #333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;

// FONTS //
$font-primary: 'HK Guise';
$font-secondary: 'Inter';