@import "../../routes/application/variables.scss";

.reputation-check-wrapper {
    display: table;
    float: left;

    >.reputation-score {
        font-weight: bold;
        color: $reputation;
        float: left;
        font-family: $font-secondary;
        font-size: 18px;
    }

    >.reputation-checks {
        display: table;
        float: left;
        padding-top: 3px;

        @media only screen and (max-width: 1100px) {
            padding-top: 4px;
        }
    }
}