.reputation-half-check {
    margin-left: 4px;
    position: relative;
    float: left;
    top: 1px;

    @media only screen and (max-width: 1100px) {
        top: 1.49px
    }

    &.medium {
        width: 16px;

        @media only screen and (max-width: 1100px) {
            width: 12px;
        }
    }
}