@import "../../routes/application/variables.scss";

.heading-wrapper {
    width: calc(100% - 250px);
    margin: auto;
    padding: 40px 0;
    padding-bottom: 125px;

    @media only screen and (max-width: 1100px) {
        width: calc(100% - 40px);
        padding: 10px 20px;
        background-color: $gray-dark;
        display: table;
    }

    >.heading-mobile-menu-icon-wrapper {
        float: left;
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;

        @media only screen and (min-width: 1100px) {
            display: none;
        }

        >.heading-mobile-menu-icon {
            margin-top: 6px;
            width: 100%;
        }
    }

    >.mobile-menu-wrapper {
        width: calc(100% - 40px);
        height: 100%;
        position: fixed;
        top: 60px;
        z-index: 100;
        left: 0;
        padding: 20px;
        background-color: $gray-dark;
        transition: all 0.3s;

        @media only screen and (min-width: 1100px) {
            display: none;
        }

        >.mobile-menu-heading {
            font-family: $font-primary;
            font-size: 12px;
            padding: 20px 0;
            color: $gray-2;
            font-weight: 600;
        }

        >.mobile-menu-button-row {
            width: calc(100% - 0px);
            display: table;
            margin-bottom: 30px;

            >.mobile-menu-icon-wrapper {
                width: 60px;
                float: left;

                >.mobile-menu-icon-box {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    padding: 10px;

                    &.dashboard {
                        background-color: $brand-green;
                    }

                    &.notifications {
                        background-color: $brand-red;
                    }

                    &.messages {}

                    &.profile {}

                    >.mobile-menu-icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            >.mobile-menu-text {
                width: calc(100% - 65px);
                float: left;
                padding-top: 5px;

                >.mobile-menu-button-main {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: $font-primary;
                    color: white;
                }

                >.mobile-menu-button-sub {
                    width: 100%;
                    font-family: $font-secondary;
                    font-size: 10px;
                    color: $gray-3;
                }
            }
        }

    }

    >.heading-page-name {
        float: left;
        color: white;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        width: 310px;

        @media only screen and (max-width: 1100px) {
            display: none;
        }

        >.page-name-text {}

        >.heading-back-to-listing-wrapper {
            display: contents !important;
            clear: both;
            width: 50px;
            float: initial;

            >.heading-back-to-listing {
                width: 150px;
                text-decoration: none;
                display: block;
                float: left;
                font-size: 14px;
                font-weight: 400;
                color: $gray-4;

                >.heading-back-to-listing-icon {
                    margin-right: 10px;
                    position: relative;
                    top: 2px;
                }
            }
        }

        >.heading-sell-user-button-wrapper {
            display: block;
            float: right;

            >.heading-sell-username-button {
                background: $verified-gradient;
                float: right;
                display: block;
                color: white;
                font-family: $font-primary;
                font-size: 15px;
                font-weight: 600;
                border-radius: 10px;
                position: relative;
                top: -10px;
                margin-left: 20px;
                padding: 10px 15px;

                >.heading-sell-user-name-button-icon {
                    margin-right: 10px;
                }

                >.heading-sell-user-button-label {
                    @media only screen and (max-width: 1100px) {
                        display: none;
                    }
                }
            }

        }

    }


    >.heading-buttons-wrapper {
        width: 200px;
        float: right;
        padding-top: 10px;

        @media only screen and (max-width: 1100px) {
            display: none;
        }

        >.heading-button {
            float: left;
            margin-right: 40px;
            cursor: pointer;
            transition: all 0.3s;

            >.heading-button-icon {}

            >.heading-alert-dot {
                width: 9px;
                height: 9px;
                background-color: $color-alert;
                border-radius: 100%;
                position: absolute;
                margin-top: -22px;
                margin-left: 15px;
                border: 2px solid #181818;
            }
        }
    }

    >.heading-profile-wrapper {
        float: right;
        // width: 200px;

        >.heading-username-wrapper {
            float: right;
            text-align: right;
            padding-right: 20px;

            @media only screen and (max-width: 1100px) {
                display: none;
            }

            >.heading-username {
                font-size: 20px;
                width: 100%;
                font-family: $font-primary;
                color: white;
            }

            >.heading-username-verified {
                font-size: 10px;
                font-family: 'Inter';
                font-weight: 400;
                width: 100%;
                color: $color-4;

                >.heading-verified {
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                    position: relative;
                    top: 2px;
                }
            }
        }

        >a>.heading-profile-image-wrapper {
            float: right;
            height: 40px;
            width: 40px;

            @media only screen and (max-width: 1100px) {
                // margin-right: 10px;
            }

            // border: 1px solid red;

            >.heading-profile-image {
                width: 40px;
                height: 40px;
                border-radius: 10px;
            }
        }
    }
}

.heading-sell-user-button-mobile {
    background: $verified-gradient;
    display: block;
    color: white;
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 12px;
    z-index: 10;
    padding-bottom: 9px;

    @media only screen and (min-width: 1100px) {
        display: none;
    }


    >.heading-sell-user-name-button-icon-mobile {
        width: 25px;
        height: 25px;
    }
}