.reputation-check {
    margin-left: 4px;
    position: relative;
    float: left;

    @media only screen and (max-width: 1100px) {
        position: relative;
        top: 1px;
    }

    &.medium {
        width: 16px;

        @media only screen and (max-width: 1100px) {
            width: 12px;
        }
    }
}