@import "../../routes/application/variables.scss";

.reputation-history-card {
    background-color: $gray-dark;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 390px;
    border-radius: 8px;
    display: table;
    margin-top: 10px;

    >.reputation-history-top-row {
        width: 100%;
        padding-bottom: 20px;
        display: table;

        >.reputation-history-profile-picture-wrapper {
            width: 30px;
            height: 30px;
            float: left;

            >.reputation-history-profile-picture {
                width: 100%;
                border-radius: 8px;
            }
        }

        >.reputation-history-user-wrapper {
            width: 200px;
            float: left;
            padding-left: 10px;
            font-family: $font-secondary;

            @media only screen and (max-width: 1100px) {
                width: 120px;
            }


            >.reputation-history-username {
                color: white;
                font-size: 14px;
                font-weight: 600;
            }

            >.reputation-history-admin {
                color: #EB5757;
                font-size: 12px;

            }
        }

        >.reputation-history-reputation-wrapper {
            float: right;
            width: 130px;
        }

    }

    >.reputation-history-comment {
        font-size: 12px;
        line-height: 22px;
        color: white;
        font-family: $font-secondary;
        padding-top: 5px;
    }
}