@import "../../routes/application/variables.scss";

.side-nav-wrapper {
    position: absolute;
    width: 118px;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    background: #111111;

    @media only screen and (max-width: 1100px) {
        display: none;
    }

    >.side-nav-logo-wrapper {
        width: 40px;
        position: relative;
        top: 40px;
        margin: auto;

        >.side-nav-logo {
            width: 40px;
        }
    }

    >a>.side-nav-menu-button {
        width: 40px;
        height: 40px;
        background-color: $brand-purple;
        text-align: center;
        margin: auto;
        margin-top: 120px;
        border-radius: 5px;

        >.side-nav-menu-button-icon {
            color: white;
            width: 20px;
            position: relative;
            top: 10px;
        }
    }
}