@import "../../routes/application/variables.scss";

.listing-card-wrapper {
    background-color: $gray-dark;
    padding: 20px;
    width: calc(100% - 20px);
    max-width: 600px;
    border-radius: 8px;
    display: table;
    margin-top: 20px;

    @media only screen and (max-width: 1100px) {
        width: calc(100% - 40px);
    }

    >.listing-card-heading {
        >.listing-card-username {
            color: white;
            float: left;
            font-size: 18px;
            font-weight: 500;
            font-family: $font-primary;
        }

        >.listing-card-social {
            float: right;

            >.listing-card-social-icon {
                width: 20px;
                float: left;
            }

            >.listing-card-social-name {
                color: $gray-2;
                float: right;
                font-size: 12px;
                line-height: 20px;
                font-family: $font-secondary;
                font-weight: 600;
                margin-left: 5px;
                vertical-align: middle;
            }
        }
    }

    >.listing-card-info-row {
        display: flex;
        width: 100%;
        padding-top: 20px;

        @media only screen and (max-width: 1100px) {
            display: block;
        }

        >.listing-card-info-element {
            flex: 1;

            @media only screen and (max-width: 1100px) {
                padding-top: 10px;
            }

            &.double {
                flex: 2;
            }

            >.listing-card-info-content {
                color: white;
                font-size: 12px;
                font-family: $font-secondary;
                padding-top: 5px;
            }

            >.profile-listing-view-post-button {
                padding: 5px 10px;
                border: 1px solid $gray-1;
                border-radius: 3px;
                display: table;
                color: white;
                font-family: $font-primary;
                font-size: 14px;
                float: right;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    color: $gray-dark;
                    background-color: $gray-1;
                }
            }
        }
    }
}