@import "../application/variables.scss";

.create-new-sale-wrapper {
    width: 100%;
    max-width: 600px;
    background-color: $gray-dark;
    padding: 20px;
    border-radius: 16px;
    display: table;

    @media only screen and (max-width: 1100px) {
        width: calc(100% - 40px);
        margin-top: 40px;
    }

    >.create-new-sale-top-row {
        display: flex;
        width: calc(100% + 20px);
        margin-left: -10px;

        @media only screen and (max-width: 1100px) {
            display: block;
            width: 100%;
            margin-left: -10px;
        }

        >.create-new-sale-top-row-section-wrapper {
            flex: 1;
            margin: 0 10px;

            @media only screen and (max-width: 1100px) {
                width: calc(100% - 30px);
                margin: 0;
                margin-left: 10px;
            }

            >.create-new-sale-input {
                padding: 10px 15px;
                background-color: #222;
                float: left;
                margin-right: 10px;
                border-radius: 8px;
                color: white;
                font-size: 15px;
                font-family: $font-secondary;
                font-weight: 500;
                margin-bottom: 10px;
                border: 1px solid transparent;
                width: calc(100% - 30px);

                @media only screen and (max-width: 1100px) {
                    width: calc(100%);
                }

            }
        }
    }

    >.create-new-sale-description {
        padding: 10px 15px;
        background-color: #222;
        float: left;
        margin-right: 10px;
        border-radius: 8px;
        color: white;
        font-size: 14px;
        font-family: $font-secondary;
        font-weight: 500;
        margin-bottom: 10px;
        border: 1px solid transparent;
        width: calc(100% - 30px);

        &::placeholder {
            color: $gray-3;
        }
    }

    >.create-new-sale-tag-input {
        padding: 10px 15px;
        background-color: #222;
        float: left;
        margin-right: 10px;
        border-radius: 8px;
        color: white;
        font-size: 15px;
        font-family: $font-secondary;
        font-weight: 500;
        margin-bottom: 10px;
        border: 1px solid transparent;

        @media only screen and (max-width: 1100px) {
            width: calc(100% - 30px);
            clear: both;
        }

    }

    >.create-new-sale-tag-instructions {
        color: $gray-3;
        font-family: $font-secondary;
        font-size: 12px;
        line-height: 40px;
        vertical-align: middle;

        @media only screen and (max-width: 1100px) {
            width: 100%;
            clear: both;
        }
    }

    >.create-new-sale-create-button {
        background: $verified-gradient;
        float: right;
        border-radius: 5px;
        color: white;
        font-family: $font-primary;
        font-weight: 600;
        padding: 10px 30px;
        font-size: 14px;

        @media only screen and (max-width: 1100px) {
            position: absolute;
            margin-top: 50px;
            left: 10px;
            width: calc(100% - 80px);
            text-align: center;
        }

        >.hide-on-desktop {
            @media only screen and (min-width: 1100px) {
                display: none;
            }
        }
    }
}

.create-new-sale-subheading {
    font-size: 12px;
    color: $gray-3;
    font-family: $font-primary;
    font-weight: 600;
    padding-bottom: 10px;
}

.create-new-sale-dropdown-wrapper {
    width: calc(100% - 30px);

    @media only screen and (max-width: 1100px) {
        width: calc(100% + 10px);
        margin-right: 0;
    }
}