@import "../../routes/application/variables.scss";

.rating-history-card {
    background-color: $gray-dark;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 390px;
    border-radius: 8px;
    display: table;
    margin-top: 10px;

    >.rating-history-top-row {
        width: 100%;
        padding-bottom: 20px;
        display: table;

        >.rating-history-profile-picture-wrapper {
            width: 30px;
            height: 30px;
            float: left;

            >.rating-history-profile-picture {
                width: 100%;
                border-radius: 8px;
            }
        }

        >.rating-history-user-wrapper {
            width: 200px;
            float: left;
            padding-left: 10px;
            font-family: $font-secondary;

            @media only screen and (max-width: 1100px) {
                width: 120px;
            }


            >.rating-history-username {
                color: white;
                font-size: 14px;
                font-weight: 600;
            }

            >.rating-history-admin {
                color: #EB5757;
                font-size: 12px;

            }
        }

        >.rating-history-rating-wrapper {
            float: right;
            width: 130px;
        }

    }

    >.rating-history-info-row {
        width: 100%;
        padding-bottom: 10px;
        display: flex;

        >.rating-history-info-element {
            flex: 1;

            >.rating-history-info-content {
                color: white;
                line-height: 22px;
                font-size: 12px;
                font-family: $font-secondary;

                &.link {
                    cursor: pointer;
                    color: $brand-purple;
                    text-decoration: underline;
                }
            }
        }
    }

    >.rating-history-comment {
        font-size: 12px;
        line-height: 22px;
        color: white;
        font-family: $font-secondary;
        padding-top: 5px;
    }

    >.rating-history-bottom-meta {
        font-family: $font-secondary;
        font-size: 10px;
        padding-top: 20px;
        line-height: 12px;

        >.rating-history-bottom-meta-timestamp {
            float: left;
            color: $gray-3;
        }

        >.rating-history-bottom-meta-report {
            color: $brand-red;
            float: right;
            cursor: pointer;
        }
    }
}