@import "../../routes/application/variables.scss";

.filters-wrapper {
    width: 100%;
    display: table;
    padding-bottom: 10px;

    >.filters-heading {
        width: 100%;
        clear: both;
        color: $gray-2;
        font-size: 12px;
        font-family: $font-primary;
        font-weight: 600;
        padding-bottom: 10px;

        @media only screen and (max-width: 1100px) {
            font-size: 10px;
        }
    }

    >.filters-dropdowns-wrapper {
        width: 100%;
    }
}

.vertical-dropdown-contents-wrapper {
    position: absolute;
    margin-top: 45px;
    background-color: $gray-black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 100;
    transition: all 0.3s;
    width: 200px;
    display: initial;

    @media only screen and (max-width: 1100px) {
        display: block;
    }

    >.vertical-dropdown-element {
        width: calc(100% - 30px);
        padding: 10px 0;
        font-size: 14px;
        padding-left: 20px;
        border-radius: 10px;
        margin: 5px;
        color: white;
        cursor: pointer;
        font-family: $font-primary;
        transition: all 0.2s;

        &.active {
            background-color: $gray-dark;
        }

        &:hover {
            background-color: $gray-1;
        }
    }
}