@import "../../routes/application/variables.scss";

.compact-profile-info-wrapper {
    display: table;
    width: 100%;

    >.compact-profile-info-element {
        float: left;

        &.small {
            width: calc(25%);
        }

        &.large {
            width: calc(50% - 20px);
            margin-left: 20px;
        }

        >.compact-profile-info-element-content {
            &.text {
                color: white;
                font-size: 13px;
                font-family: $font-primary;

                &.bold {
                    font-weight: 600;
                }
            }

            >.compact-profile-info-rating-number {
                font-size: 14px;
                font-family: $font-primary;
                float: left;

                &.rating {
                    color: $vouches;
                }

                &.reputation {
                    color: $reputation;
                }
            }

            >.compact-profile-info-rating-wrapper {
                float: left;
            }

            >.compact-profile-info-rating-count {
                float: left;
                font-size: 10px;
                color: $gray-3;
                padding-left: 3px;
                position: relative;
                top: 2px;
            }
        }

        >.compact-profile-info-element-label {
            width: 100%;
            clear: both;
            line-height: 12px;
            font-size: 12px;
            color: $gray-2;
            font-family: $font-secondary;
            padding-bottom: 5px;
            padding-top: 3px;
            margin-bottom: 10px;
        }
    }
}